/* ----- Racing Stripe Component ----- */

.RacingStripe {
    background-color: var(--absolute);
    border-top: 20px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    height: 2px;
    transform: translateY(8px) rotate(-1deg);
}

.RacingStripe-badge {
    background-color: var(--primary-dark);
    border: 3px solid var(--primary-dark);
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px var(--absolute);
    color: var(--absolute);
    font-size: 2em;
    font-weight: bold;
    padding: 0 10px;
    position: absolute;
    top: -50px;
    left: 10px;
}

.RacingStripe-badgeNumber {
    position: relative;
    top: 3px;
}

.RacingStripe-hashes {
    height: 30px;
    position: absolute;
    right: 0;
    top: -32px;
    width: 100px;
}

.RacingStripe-hash {
    background-color: var(--absolute);
    box-shadow: -3px -3px 0 var(--accent);
    height: 30px;
    position: absolute;
    left: 0;
    transform: skew(-30deg);
    width: 20px;
}

.RacingStripe-hash:nth-child(2) {
    width: 10px;
    left: 25px;
}

.RacingStripe-hash:nth-child(3) {
    width: 10px;
    left: 40px;
}

.RacingStripe-hash:nth-child(4) {
    width: 10px;
    left: 55px;
}

.RacingStripe-hash:nth-child(5) {
    width: 5px;
    left: 70px;
}
